/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 16, 2022, 12:02:58 AM
    Author     : TUF-GK
*/

.chart-plot-background{
    -fx-background-color: #ffecec;
}
.chart-alternative-row-fill{
    -fx-fill: #ffdcdc;
}
.button-continue{
    -fx-background-color:  #ffecec;
    -fx-text-fill: black;
}

.button-continue:hover{
    -fx-background-color:  black;
    -fx-text-fill: #ffecec;
}

.button-continue:pressed{
    -fx-background-color:  #ffecec;
    -fx-text-fill: black;
}